@model WebAppMusicCatalog.Models.Artistas

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta seguro de eliminar el registro?</h3>
<div>
    <h4>Artistas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genero_musical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genero_musical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.biografia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biografia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ruta_archivo_imagen)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.ruta_archivo_imagen)*@
            <img class="img-responsive" src="@Model.ruta_archivo_imagen" width="200" height="200" /> @*/*** Dikkat *****/*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url_sitio_web)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url_sitio_web)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_modificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paises.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paises.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Atras a Lista", "Index")
        </div>
    }
</div>
